// Variables
$color-menu: #E7CDB4;
$color-active: #F9E4D7;
$color-expired: #E84A5F;
$color-completed: #65d7b3;

$font-small: 0.7em;
$font-medium: 1.1em;
$font-big: 1.2em;

// Mixins
@mixin task-style($background-color, $border-color) {
  background-color: $background-color;
  min-height: 70px;
  border: 1px solid $border-color;
  border-top: none;

  p {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
  }
}


// Syle
@media all {
  html {
    font-size: 100%;
  }

  body {
    background-image: url("../images/rockywall.png");
    font-size: 1em;
  }

  .header {
    text-align: center;

    h1 {
      font-size: 3em;
    }
  }

  .navbar {
    text-align: left;
    margin-bottom: 0px;

    ul {
      margin-bottom: 0px;
    }

    li {
      list-style: none;
      display: inline;
      margin-left: 15px;
      font-size: $font-big;

      a {
        line-height: 30px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        background-color: $color-active;
        padding: 15px;
        padding-top: 5px;
        padding-bottom: 4px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        a:visited {

        }

        a:hover {

        }
      }
    }

    li:hover {
      cursor: pointer;
    }
  }

  .container {
    min-height: 600px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: $font-big;

    .title {
      background-color: $color-menu;
      min-height: 80px;

      h2 {
        margin-left: 30px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    .active {
      @include task-style($color-active, $color-menu);

      div {
        margin-right: 30px;
        margin-top: -47px;

        button {
          min-height: 35px;
          max-width: 150px;
          font-size: $font-medium;
        }
      }
    }

    .completed {
      @include task-style($color-completed, $color-menu);
    }

    .expired {
      @include task-style($color-expired, $color-menu);
    }

    .new-task {
      @include task-style($color-active, $color-menu);

      .name {
        background-color: inherit;
        min-height: 30px;
        max-width: 450px;
        margin-left: 30px;
        margin-top: -15px;
      }

      .priority {
        font-size: $font-small;
        display: inline-block;
        max-width: 150px;

        p {
          display: block;
          margin-bottom: 6px;
        }

        input {
          display: inline-block;
        }
      }

      button {
        min-height: 35px;
        max-width: 150px;
        font-size: $font-medium;
      }
    }
  }
}

@media all and (max-device-width: 640){

}
