// Variables
$color-menu-activ: #3299BB;
$color-menu-passiv: #BDD4FF;
$color-task-high: #FFAD33;
$color-task-med: #FFC266;
$color-task-low: #FFE0B3;
$color-expired: #FF8A7A;
$color-completed: #66FF96;
$color-button: #424242;

$color-blue: #68C0FF;
$color-violet: #7C20E8;
$color-red: #FF5960;
$color-orange: #E8A046;
$color-yellow: #FFF790;

$font-small: 0.7em;
$font-medium: 1.1em;
$font-big: 1.2em;


// Mixins
@mixin task-style($background-color) {
  background-color: $background-color;
  border-bottom: 1px solid black;
  max-width: 800px;
  font-family: sans-serif;

  div {
    display: inline-block;
    padding-top: 15px;
    width: 75%;
  }

  span {
    padding-left: 5%;
  }

  .time {
    width: 50%;
    padding-top: 0px;
    padding-left: 5%;
    padding-bottom: 10px;
    font-size: $font-small;
    font-family: monospace;
  }
}


@mixin btn-style() {
  width: 20%;
  padding-top: 15px;
  float: right;

  button {
    width: 120px;
    margin-right: 20px;
    min-height: 35px;
    font-size: $font-medium;
    font-weight: bolder;
  }
}

// Syle
@media screen {
  html {
    font-size: 100%;
  }

  body {
    //background-image: url("../images/rockywall.png");
    background-color: $color-blue;
    font-size: 1em;
  }

  .header {
    text-align: center;

    h1 {
      font-size: 3em;
      font-family: monospace;
    }
  }

  .logbar {
    font-size: $font-medium;
    font-family: sans-serif;

    span {
      font-style: italic;
    }
  }

  .navbar {
    text-align: left;
    margin-bottom: 0px;
    border-bottom: 5px solid $color-violet;

    ul {
      margin: 0px;
      padding-left: 0px;
      border-bottom: 1px solid $color-blue;
    }

    li {
      list-style: none;
      display: inline;
      margin-left: 30px;
      font-size: $font-big;
      font-family: sans-serif;
      background-color: $color-blue;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: 1px solid $color-blue;

      a {
        text-decoration: none;
        font-weight: bold;
        color: white;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    font-size: $font-big;

    .menu {
      background-color: $color-task-med;
      font-family: sans-serif;
      //border-left: 1px solid $color-menu-activ;
      //border-right: 1px solid $color-menu-activ;

      .menu-item {
        display: inline-block;
        margin-left: 70px;
      }

      .n1 {
        width: 30%;
      }
    }

    .new-task {
      @include task-style($color-task-med);

      .name {
        margin-top: 0px;
        padding-top: 0px;
        margin-left: 5%;
        width: 60%;

        input {
          margin-top: 0px;
          width: 100%;
          font-size: $font-medium;
          background-color: $color-task-low;
        }
      }

      .priority {
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 5%;
        padding-bottom: 10px;
        font-size: $font-small;
        width: 50%;
      }

      .btn {
        width: 20%;
        padding-top: 15px;
        float: right;

        button {
          width: 120px;
          margin-right: 20px;
          min-height: 35px;
          font-size: $font-medium;
          font-weight: bolder;
        }
      }
    }

    .high {
      @include task-style($color-task-high);

      .btn {
        @include btn-style();
      }
    }
    .med {
      @include task-style($color-task-med);

      .btn {
        @include btn-style();
      }
    }
    .low {
      @include task-style($color-task-low);

      .btn {
        @include btn-style();
      }
    }

    .completed {
      @include task-style($color-yellow);
    }

    .expired {
      @include task-style($color-red);
    }
  }
}

@media screen and (max-width: 600px){
  body {
    font-size: .75em;
  }

  .navbar li {
    margin-left: 10px;
  }

  .tasks .menu {
    .menu-item {
      margin-left: 20px;
      width: 30%;
    }

    .n2 {
      margin-left: 30px;
    }
  }

  .container .task div span {
      margin-left: 10px;
  }

  .container .new-task form .name {
    margin-left: 10px;
  }

  .new-task .btn {
    margin-left: 200px;
  }

  .container .tasks button {
    padding-left: 3px;
    padding-right: 3px;
  }
}
