// Variables
$color-1: #E7CDB4;
$color-2: #F9E4D7;
$color-3: #E1DCD8;
$color-4: #403F47;


body {
  background-image: url("../images/rockywall.png");
}

.header {
  text-align: center;

  h1 {
    font-size: 50px;
  }
}


.container {
  height: 600px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;

  .title {
    background-color: $color-1;
    height: 80px;

    h2 {
      margin-left: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .task {
    background-color: $color-2;
    height: 70px;
    border-bottom: 1px solid $color-1;

    p {
      margin-left: 30px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}


.navbar {
  text-align: right;
  margin-bottom: -20px;

  li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 20px;
  }

  li:hover {
    cursor: pointer;
  }
}
