// Variables
$color-menu-activ: #3A70E5;
$color-menu-passiv: #AEC9FF;
$color-task-high: #D00;
$color-task-med: #E90;
$color-task-low: #DD0;
$color-expired: #D00;
$color-completed: #0D0;

$color-light-white: #DDD;

$color-transparent: rgba(255, 255, 255, 0);
$color-semi-transparent: rgba(255, 255, 255, 0.3);

$font-small: 0.7em;
$font-medium: 1.1em;
$font-big: 1.2em;


// Mixins
@mixin task-style($border-color) {
  background-color: #222;
  border-left: 7px solid $border-color;
  border-bottom: 1px solid #777;
  max-width: 800px;
  font-family: sans-serif;
  color: $color-light-white;

  div {
    display: inline-block;
    margin-top: 15px;
    margin-left: 4%;
    width: 70%;
  }

  .time {
    width: 50%;
    margin-top: 0px;
    margin-left: 4%;
    margin-bottom: 10px;
    font-size: $font-small;
    font-family: monospace;
  }
}


@mixin btn-style() {
  width: 20%;
  margin-top: 15px;
  margin-left: 0px;
  float: right;

  button {
    width: 120px;
    margin: 0px;
    min-height: 35px;
    font-size: $font-medium;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    padding: 5px;
    background-color: $color-transparent;
    border: 2px solid $color-light-white;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }

  button:hover, button:active {
    background-color: #0b0;
  }

}

// Syle
@media screen {
  html {
    font-size: 100%;
  }

  body {
    background-image: url("../images/gplaypatterninverse.png");
    font-size: 1em;
    color: white;
  }

  .header {
    text-align: center;

    h1 {
      font-size: 5.5em;
      font-family: monospace;
      padding-top: 10px;
      padding-bottom: 40px;
      color: white;
    }
  }

  .logbar {
    font-size: $font-medium;
    font-family: sans-serif;
    padding-bottom: 20px;
    color: white;

    input {
      background-color: $color-semi-transparent;
    }

    input:hover, input:focus {
      background-color: white;
    }

    span {
      font-style: italic;
    }

    button {
      font-weight: bolder;
      border-radius: 5px;
      font-size: 0.9em;
      color: white;
      background-color: $color-transparent;
      border: 1px solid $color-light-white;
      text-align: center;
      outline: none;
      text-decoration: none;
      cursor: pointer;
    }

    button:hover, button:active {
      background-color: #444;
    }
  }

  .navbar {
    text-align: left;
    margin-bottom: 0px;
    border-bottom: 5px solid $color-menu-activ;

    ul {
      margin: 0px;
      padding-left: 0px;
      padding-bottom: 4px;
    }

    li {
      list-style: none;
      display: inline;
      margin-left: 30px;
      padding: 4px;
      font-size: $font-big;
      font-family: sans-serif;
      background-color: $color-menu-passiv;
      height: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border-bottom: 1px solid $color-menu-passiv;

      a {
        text-decoration: none;
        font-weight: bold;
        color: black;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

// Changing placeholder color in the form
  *::-webkit-input-placeholder {
      color: white;
  }
  *:-moz-placeholder {
      /* FF 4-18 */
      color: white;
  }
  *::-moz-placeholder {
      /* FF 19+ */
      color: white;
  }
  *:-ms-input-placeholder {
      /* IE 10+ */
      color: white;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    font-size: $font-big;

    .new-task {
      @include task-style($color-task-med);
      border-left: none;

      .name {
        margin-left: 1%;
        margin-top: 0px;
        padding: 0px;
        width: 90%;

        input {
          margin-top: 0px;
          margin-bottom: 7px;
          padding: 5px;
          width: 100%;
          font-size: $font-medium;
          background-color: $color-semi-transparent;
          background-color: inherit;
          box-shadow: none;
          outline: none;
          border: 1px solid $color-light-white;
          border-radius: 3px;
        }

        input:hover {
          background-color: white;
        }

        input:focus {
          background-color: white;
        }
      }

      .priority {
        margin-top: 0px;
        padding: 0px;
        padding-bottom: 10px;
        font-size: $font-small;
        width: 100%;
      }

      .btn {
        @include btn-style();
      }
    }

    .high {
      @include task-style($color-task-high);

      .btn {
        @include btn-style();
      }
    }
    .med {
      @include task-style($color-task-med);

      .btn {
        @include btn-style();
      }
    }
    .low {
      @include task-style($color-task-low);

      .btn {
        @include btn-style();
      }
    }

    .completed {
      @include task-style($color-completed);
    }

    .expired {
      @include task-style($color-expired);
    }
  }
}

@media screen and (max-width: 600px){
  body {
    font-size: .75em;
  }

  .navbar li {
    margin-left: 10px;
  }

  .tasks .menu {
    .menu-item {
      margin-left: 20px;
      width: 30%;
    }

    .n2 {
      margin-left: 30px;
    }
  }

  .container .task div span {
      margin-left: 10px;
  }

  .container .new-task form .name {
    margin-left: 10px;
  }

  .new-task .btn {
    margin-left: 200px;
  }

  .container .tasks button {
    padding-left: 3px;
    padding-right: 3px;
  }
}
