<div class="container">
  <div class="navbar">
    <ul>
      <li>History</li>
      <li>Tasks</li>
    </ul>
  </div>
  <div class="tabs">

    <div class="tasks">
      <div class="title">
        <h2> Current Tasks </h2>
      </div>

      <div class="ng-repeat-task task">
        <p>Eat the cat</p>
      </div>
      <div class="ng-repeat-task task">
        <p>Dress the car</p>
      </div>
      <div class="ng-repeat-task task">
        <p>Edit the cake</p>
      </div>
    </div>

    <div class="history">
    </div>
  </div>
</div>
